.pane-one-half {
  width: 50%;
}

.pane_center {
  margin: 0 auto;
}

.nav-group-item_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.form-control.twitter-query {
  width: 80%;
  font-size: 1.2em;
}

.btn.btn-twitter {
  margin-left: 1em;
  font-size: 1.2em;
}

.form-group.twitter-query-form-group {
  overflow: hidden;
  padding: 0.5em;
  padding-top: 1em;
}

.twitter-main {
  background-color: #f5f5f4;
}

.twitter-flex-table {
  height: 80%;
  font-size: 1.1em;
}

.twitter-flex-table-wrapper {
  overflow: scroll;
  min-width: 80%;
  height: 80%;
}

.twitter-grid {
  outline: none;
}

.twitter-grid-row {
  // background-color: white;
}

.twitter-grid-row_even {
  // background-color: gray;
}

.twitter-grid-row_odd {
  background-color: white;
}

.twitter-grid-row_head {
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.twitter-flex-table {
  // border: 1px solid #ddd;
}

.twitter-stats-bar {
  font-size: 1.1em;
}

.twitter-tools {
  padding-bottom: 1em;
}
